In [1]:
import numpy as np
import pandas as pd
import datetime
import os

In [2]:
# Replace 'your_directory_path' with the path to your folder
folder_path = 'Runner_final'

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

runners_final_df = pd.DataFrame()

for file in csv_files:
    df = pd.read_csv(f'Runner_final/{file}')
        
    runners_final_df = pd.concat([runners_final_df, df])

In [3]:
# Replace 'your_directory_path' with the path to your folder
folder_path = 'catchers'

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

catchers_final_df = pd.DataFrame()

for file in csv_files:
    df = pd.read_csv(f'catchers/{file}')
        
    catchers_final_df = pd.concat([catchers_final_df, df])

In [4]:
catchers_final_df.replace(' --', np.nan, inplace=True)

In [5]:
catchers_final_df['Arm_Strength'] = catchers_final_df['Arm_Strength'].astype(float)

catchers_final_df['Exchange'] = catchers_final_df['Exchange'].astype(float)

In [6]:
runners_final_df.replace(' --', np.nan, inplace=True)

In [7]:
runners_final_df.isna().sum()

Unnamed: 0.1       0
Unnamed: 0         0
Start_Base         0
End_Base        9820
Event              0
runner_id          0
runner_name        0
pitcher_id         0
pitcher_name       0
batter_id          0
batter_name        0
pitch_hand         0
credit             0
credit_id          0
homeScore          0
awayScore          0
inning             0
isTopInning        0
Date               0
Action             0
Base               0
Year               0
Current_Year       0
Sprint             0
dtype: int64

In [8]:
catchers_final_df

,Unnamed: 0,Start_Base,End_Base,Event,runner_id,runner_name,pitcher_id,pitcher_name,batter_id,batter_name,...,awayScore,inning,isTopInning,Date,Action,Base,Year,Current_Year,Arm_Strength,Exchange
0,0.0,1B,2B,Stolen Base 2B,592663,J.T. Realmuto,608566,Germán Márquez,516770,Starlin Castro,...,0,1,False,2018-04-28,Stolen,2B,2018.0,2019.0,80.2,0.75
1,1.0,1B,2B,Stolen Base 2B,516782,Starling Marte,608566,Germán Márquez,605137,Josh Bell,...,2,1,False,2018-04-16,Stolen,2B,2018.0,2019.0,80.2,0.75
2,2.0,1B,NaN,Caught Stealing 2B,446308,Matt Wieters,493603,Adam Ottavino,501213,Moisés Sierra,...,5,8,False,2018-04-15,Caught,2B,2018.0,2019.0,80.2,0.75
3,3.0,2B,3B,Stolen Base 3B,572191,Michael A. Taylor,493603,Adam Ottavino,571718,Brian Goodwin,...,5,8,False,2018-04-15,Stolen,3B,2018.0,2019.0,80.2,0.75
4,4.0,1B,2B,Stolen Base 2B,622534,Manuel Margot,543766,Bryan Shaw,592669,Hunter Renfroe,...,7,8,True,2018-04-09,Stolen,2B,2018.0,2019.0,80.2,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,6.0,1B,NaN,Caught Stealing 2B,572761,Matt Carpenter,502624,Chase Anderson,572039,Stephen Piscotty,...,0,1,False,2016-09-10,Caught,2B,2016.0,2017.0,NaN,NaN
7,7.0,1B,2B,Stolen Base 2B,408252,Brandon Phillips,605200,Zach Davies,553993,Eugenio Suárez,...,0,2,True,2016-09-23,Stolen,2B,2016.0,2017.0,NaN,NaN
8,8.0,1B,NaN,Caught Stealing 2B,572761,Matt Carpenter,502624,Chase Anderson,572039,Stephen Piscotty,...,0,1,False,2016-09-10,Caught,2B,2016.0,2017.0,NaN,NaN
9,9.0,1B,2B,Stolen Base 2B,408252,Brandon Phillips,605200,Zach Davies,553993,Eugenio Suárez,...,0,2,True,2016-09-23,Stolen,2B,2016.0,2017.0,NaN,NaN
10,10.0,1B,NaN,Caught Stealing 2B,572761,Matt Carpenter,502624,Chase Anderson,572039,Stephen Piscotty,...,0,1,False,2016-09-10,Caught,2B,2016.0,2017.0,NaN,NaN

In [164]:
runners_final_df

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, Start_Base, End_Base, Event, runner_id, runner_name, pitcher_id, pitcher_name, batter_id, batter_name, pitch_hand, credit, credit_id, homeScore, awayScore, inning, isTopInning, Date, Action, Base, Year, Current_Year, Sprint]
Index: []

[0 rows x 24 columns]

In [10]:
stealing_df = pd.read_csv('combined.csv')

stealing_df.drop(columns=['Unnamed: 0'], inplace=True)

stealing_df.head()

,Start_Base,End_Base,Event,Respon_Pitcher,runner_id,runner_name,pitcher_id,pitcher_name,batter_id,batter_name,pitch_hand,credit,credit_id,homeScore,awayScore,inning,isTopInning,Date,Action,Base
0,1B,NaN,Caught Stealing 2B,NaN,545341,Randal Grichuk,643338,Chad Green,543760,Marcus Semien,R,Gary Sánchez,596142,2,2,7,True,2021-04-01,Caught,2B
1,1B,2B,Stolen Base 2B,NaN,643565,Mike Tauchman,605447,Jordan Romano,457803,Jay Bruce,R,Danny Jansen,643376,2,2,9,False,2021-04-01,Stolen,2B
2,2B,3B,Stolen Base 3B,NaN,643565,Mike Tauchman,605447,Jordan Romano,640449,Clint Frazier,R,Danny Jansen,643376,2,2,9,False,2021-04-01,Stolen,3B
3,1B,2B,Stolen Base 2B,NaN,666185,Dylan Carlson,489334,Craig Stammen,425877,Yadier Molina,R,Austin Nola,543592,3,6,4,True,2020-09-30,Stolen,2B
4,2B,3B,Stolen Base 3B,NaN,502054,Tommy Pham,650893,Génesis Cabrera,543592,Austin Nola,L,Yadier Molina,425877,4,6,6,False,2020-09-30,Stolen,3B

In [20]:
stealing_df['Date'] = pd.to_datetime(stealing_df['Date'])

In [12]:
runner_df = pd.read_csv('Runner_final/A.J. Pierzynski.csv')
runner_df['Date'] = pd.to_datetime(runner_df['Date'])
runner_df.head()

,Unnamed: 0.1,Unnamed: 0,Start_Base,End_Base,Event,runner_id,runner_name,pitcher_id,pitcher_name,batter_id,...,homeScore,awayScore,inning,isTopInning,Date,Action,Base,Year,Current_Year,Sprint
0,0,111,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,452657,Jon Lester,346874,...,0,0,2,False,2015-07-18,Caught,2B,2015,2016,24.5
1,1,1810,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,112526,Bartolo Colon,592743,...,4,3,6,True,2015-04-23,Caught,2B,2015,2016,24.5

In [22]:
pd.read_csv('Runner_final/A.J. Pierzynski.csv')

,Unnamed: 0.1,Unnamed: 0,Start_Base,End_Base,Event,runner_id,runner_name,pitcher_id,pitcher_name,batter_id,...,homeScore,awayScore,inning,isTopInning,Date,Action,Base,Year,Current_Year,Sprint
0,0,111,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,452657,Jon Lester,346874,...,0,0,2,False,2015-07-18,Caught,2B,2015,2016,24.5
1,1,1810,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,112526,Bartolo Colon,592743,...,4,3,6,True,2015-04-23,Caught,2B,2015,2016,24.5

In [44]:
runner_df

,Unnamed: 0.1,Unnamed: 0,Start_Base,End_Base,Event,runner_id,runner_name,pitcher_id,pitcher_name,batter_id,...,homeScore,awayScore,inning,isTopInning,Date,Action,Base,Year,Current_Year,Sprint
0,0,111,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,452657,Jon Lester,346874,...,0,0,2,False,2015-07-18,Caught,2B,2015,2016,24.5
1,1,1810,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,112526,Bartolo Colon,592743,...,4,3,6,True,2015-04-23,Caught,2B,2015,2016,24.5

In [45]:
runner_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Start_Base', 'End_Base', 'Event',
       'runner_id', 'runner_name', 'pitcher_id', 'pitcher_name', 'batter_id',
       'batter_name', 'pitch_hand', 'credit', 'credit_id', 'homeScore',
       'awayScore', 'inning', 'isTopInning', 'Date', 'Action', 'Base', 'Year',
       'Current_Year', 'Sprint'],
      dtype='object')

In [46]:
runner_df['Start_Base_num']  = runner_df['Start_Base'].apply(lambda x: 1 if x == '1B' else (2 if x == '2B' else 3))

In [47]:
runner_df.loc[(runner_df['Date'] <= pd.to_datetime('2015-07-10'))].head(30)

,Unnamed: 0.1,Unnamed: 0,Start_Base,End_Base,Event,runner_id,runner_name,pitcher_id,pitcher_name,batter_id,...,awayScore,inning,isTopInning,Date,Action,Base,Year,Current_Year,Sprint,Start_Base_num
1,1,1810,1B,NaN,Caught Stealing 2B,150229,A.J. Pierzynski,112526,Bartolo Colon,592743,...,3,6,True,2015-04-23,Caught,2B,2015,2016,24.5,1

In [48]:
runner_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Start_Base', 'End_Base', 'Event',
       'runner_id', 'runner_name', 'pitcher_id', 'pitcher_name', 'batter_id',
       'batter_name', 'pitch_hand', 'credit', 'credit_id', 'homeScore',
       'awayScore', 'inning', 'isTopInning', 'Date', 'Action', 'Base', 'Year',
       'Current_Year', 'Sprint', 'Start_Base_num'],
      dtype='object')

In [49]:
runner_df['credit']

0        David Ross
1    Anthony Recker
Name: credit, dtype: object

In [53]:
date

Timestamp('2021-04-01 00:00:00')

In [1]:
catcher_name

NameError: name 'catcher_name' is not defined

In [12]:
stealing_df['Result'] = stealing_df['Action'].apply(lambda x : 1 if x =='Stolen' else 0)

In [17]:
data_dict = []

for row, j in stealing_df.iterrows():
    catcher_id = j['credit_id']
    
    runner_id = j['pitcher_id']
    
    catcher_name = j['credit']
    
    runner_name = j['runner_name']
    
    date = j['Date']
    
    try:
    
        runner_df = pd.read_csv(f'Runner_final/{runner_name}.csv')

        catcher_df = pd.read_csv(f'catchers/{catcher_name}.csv')
        
        
    except:
        print(catcher_name)
        continue
        
    if 'Exchange' not in catcher_df.columns:
        continue
        
    catcher_df.drop(columns=['Unnamed: 0'], inplace=True)

    catcher_df.drop_duplicates(inplace=True)

    catcher_past = catcher_df.loc[catcher_df['Date'] < date].sort_values(by='Date').tail(10)

    if len(catcher_past) < 10:
        continue

    catcher_past['Result'] = catcher_past['Action'].apply(lambda x : 1 if x =='Stolen' else 0)
    
    uniques = catcher_past['Arm_Strength'].unique()




    if catcher_past['Arm_Strength'].dtypes == 'object':
    
        arm = catcher_past['Arm_Strength'].tolist()
        numbers = [item.strip() for item in arm if item != ' --']

        if len(numbers) == 0:
            catcher_past['Arm_Strength'].replace(' --', np.nan, inplace=True)
            catcher_past['Arm_Strength'] = catcher_past['Arm_Strength'].astype(float)
            
        else:
            
            repl = float(numbers[0])
            catcher_past['Arm_Strength'].replace(' --', repl, inplace=True)
            catcher_past['Arm_Strength'] = catcher_past['Arm_Strength'].astype(float)

        
    if catcher_past['Exchange'].dtypes == 'object':
    
        arm = catcher_past['Exchange'].tolist()
        numbers = [item.strip() for item in arm if item != ' --']
        if len(numbers) == 0:
            catcher_past['Exchange'].replace(' --', np.nan, inplace=True)
            catcher_past['Exchange'] = catcher_past['Exchange'].astype(float)
            
        else:
            
            repl = float(numbers[0])
            catcher_past['Exchange'].replace(' --', repl, inplace=True)
            catcher_past['Exchange'] = catcher_past['Exchange'].astype(float)

    sprints = []

    for row, i in catcher_past.iterrows():

        runner = i['runner_name']

        current_year = i['Year'] 
        
        if len(runners_final_df.loc[(runners_final_df['runner_name'] == runner) & (runners_final_df['Current_Year'] == current_year)]['Sprint']) == 0:
            sprints.append(np.nan)
            continue

        sprint = runners_final_df.loc[(runners_final_df['runner_name'] == runner) & (runners_final_df['Current_Year'] == current_year)]['Sprint'].tolist()[0]

        sprints.append(sprint)
    catcher_past['Sprint'] = sprints

    mean_catch = catcher_past[['Result', 'Exchange' ,'Arm_Strength', 'Sprint']].mean()

    Result_catcher = mean_catch['Result']

    Exchange_catcher = mean_catch['Exchange']

    Arm_Strength_catcher = mean_catch['Arm_Strength']

    Sprint_catcher = mean_catch['Sprint']
    
    runner_df.drop(columns=['Unnamed: 0'], inplace=True)

    runner_df.drop_duplicates(inplace=True)

    runner_past = runner_df.loc[runner_df['Date'] < date].sort_values(by='Date').tail(10)
    
    if len(runner_past) < 10:
        continue

    runner_past['Result'] = runner_past['Action'].apply(lambda x : 1 if x =='Stolen' else 0)

    Exchanges=[]
    Arm_Strengths = []

    for row, i in runner_past.iterrows():

        catcher = i['credit']

        current_year = i['Year']
        
        if len(catchers_final_df.loc[(catchers_final_df['credit'] == catcher) & (catchers_final_df['Current_Year'] == current_year)]) == 0:
            Exchanges.append(np.nan)
            Arm_Strengths.append(np.nan)
            continue

        Exchange = catchers_final_df.loc[(catchers_final_df['credit'] == catcher) & (catchers_final_df['Current_Year'] == current_year)]['Exchange'].tolist()[0]

        Arm_Strength = catchers_final_df.loc[(catchers_final_df['credit'] == catcher) & (catchers_final_df['Current_Year'] == current_year)]['Arm_Strength'].tolist()[0]

        Exchanges.append(Exchange)
        
        Arm_Strengths.append(Arm_Strength)

    runner_past['Exchange'] = Exchanges

    runner_past['Arm_Strength'] = Arm_Strengths
    
    if runner_past['Arm_Strength'].dtypes == 'object':
    
        numbers = [item.strip() for item in Arm_Strengths if item != ' --']
        repl = float(numbers[0])
        runner_past['Arm_Strength'].replace(' --', repl, inplace=True)

        runner_past['Arm_Strength'] = runner_past['Arm_Strength'].astype(float)

    mean_catch = runner_past[['Result', 'Exchange' ,'Arm_Strength', 'Sprint']].mean()

    Result_runner = mean_catch['Result']

    Exchange_runner = mean_catch['Exchange']

    Arm_Strength_runner = mean_catch['Arm_Strength']

    Sprint_runner = mean_catch['Sprint']
    
    data_dict.append({
        'Sprint_runner': Sprint_runner,
        'Exchange_runner': Exchange_runner,
        'Result_runner': Result_runner,
        'Arm_Strength_runner': Arm_Strength_runner,
        'Result_catcher': Result_catcher, 
        'Exchange_catcher': Exchange_catcher,
        'Arm_Strength_catcher': Arm_Strength_catcher,
        'Sprint_catcher': Sprint_catcher,
        'Date': date,
        'Runner_id': runner_id,
        'Result': j['Result']
        
        
        
    })

In [18]:
stolen_df = pd.DataFrame(data_dict)
stolen_df.to_csv('stolen_df_mean_10.csv')

In [217]:
stolen_df.isna().sum()

Sprint_runner              0
Exchange_runner         2356
Result_runner              0
Arm_Strength_runner     2356
Result_catcher             0
Exchange_catcher          27
Arm_Strength_catcher     327
Sprint_catcher             0
Result                     0
dtype: int64

In [218]:
len(stolen_df)

22796

In [ ]:
stolen_df.dropna()